.headstyle{
background-image: url(./FB_IMG_1681740945653.jpg);    
background-color: red;
    width: 100%;
    background-repeat: no-repeat;
    height: 400px;
}
#btn{
    cursor: pointer;
}
.navber{
    display: flex;
    gap: 10px;
    font-size: 25px;
    text-align: right;
    text-decoration: underline;
    justify-content: flex-end;
}
.headstyle{
    margin: 20px;
 box-shadow: 10px 10px 6px aqua;
    border: 10px solid blue;
}
*{
    margin: 0px;
}j